.apartaments {
  background: var(--baground);
  .apartaments__container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    p {
      text-align: center;
      max-width: 38ch;
      font-size: var(--fontSze);
      font-weight: 300;
      color: var(--defoltColor);
    }
    .apartaments__cards {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .apartaments__card {
        width: 380px;
        height: 100%;
        border: 1px solid gray;
        border-radius: var(--borderImages);
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        justify-content: space-between;
        padding: 0px 0px 20px 0px;
        .apartaments__infos {
          width: 100%;
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          .apartaments__img {
            width: 100%;
            height: 360px;
            border-radius: var(--borderImages) var(--borderImages) 0px 0px;
          }
          .apartaments__info {
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            padding: 0px 5px 5px 5px;
            P {
              text-align: start;
            }
            p:nth-of-type(2) {
              font-weight: 500;
              line-height: 30px;
            }
            ul {
              padding-left: 20px;
              li {
                list-style: disc;
                color: rgba(0, 0, 0, 0.582);
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1250px) {
  .apartaments__container {
    .apartaments__cards {
      flex-direction: column;
      row-gap: 30px;
      align-items: center;
      .apartaments__card {
        width: 540px;
      }
    }
  }
}
@media screen and (max-width: 720px) {
  .apartaments__container {
    .apartaments__cards {
      .apartaments__card {
        width: 360px;
      }
    }
  }
}
