:root {
  --guideHeighBlock: 100%;
  --guideRow: 30px;
  --guideLineColor: #927f6a;
}
.guide {
  width: 100%;
  height: max-content;
  padding: 80px 0px;
  background: var(--baground);
  .guide__container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    .guide__paths {
      display: flex;
      flex-direction: column;
      row-gap: var(--guideRow);
      .guide__point {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        .guide__info {
          text-align: end;
          width: 100%;
          height: var(--guideHeighBlock);
          position: relative;
          .guide__content {
            padding-right: 30px;
          }
        }
        .guide__info::before {
          top: 0;
          right: -1px;
          content: "";
          position: absolute;
          width: 3px;
          height: calc(var(--guideHeighBlock) + var(--guideRow));
          background: var(--guideLineColor);
        }
        .guide__info::after {
          bottom: -53px;
          right: -14px;
          content: "";
          position: absolute;
          width: 27px;
          height: 27px;
          border-radius: 50%;
          background: var(--guideLineColor);
        }
        .guide__block {
          width: 100%;
          height: 100%;
        }
        .guide__info_right {
          width: 100%;
          transform: scaleX(-1);
          .guide__item {
            padding-left: 30px;
            transform: scaleX(-1);
            text-align: start;
          }
        }
        .guide__remove_line::before {
          content: "";
          display: none;
        }
        .guide__remove_line::after {
          content: "";
          display: none;
        }
      }
    }
  }
}
.partners {
  padding-top: 60px;
  .container {
    .partners__container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 60px;
      .partners__banks {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 100px;
        justify-items: center;
        align-items: center;
        .partners__bank_logo {
          max-width: 200px;
          height: 113px;
          border-radius: 5px;
          padding: 0px;
          border: 1px solid gray;
          box-shadow: 15px 11px 25px 0px rgba(0, 0, 0, 0.75);
        }
      }
    }
  }
}
@media screen and (max-width: 720px) {
  .guide {
    .guide__container {
      padding-left: 10px;
      .guide__paths {
        .guide__point {
          .guide__info {
            transform: scaleX(-1);
            .guide__content {
              padding-right: 0px;
              padding-left: 30px;
              transform: scaleX(-1);
              text-align: start;
            }
          }
          .guide__block {
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .partners {
    .container {
      .partners__container {
        .partners__banks {
          width: max-content;
          grid-template-columns: repeat(2, 1fr); /* this*/
          grid-template-rows: repeat(3, auto);
          gap: 20px;
          .partners__bank_logo {
            max-width: 150px;
            height: 113px;
          }
        }
      }
    }
  }
}
